<div class="container">
    <div class="row">
    <div class="col-md-12">
      <div class="row">
          <div class="col-xs-12">
    <form >
      <div class="row">
        <label for="projectName"  class="col-md-3" >Project</label>
        <input class="col-md-6" type="text" [(ngModel)]="project.projectName"  name="projectName" id="projectName" required minlength="4" >
      </div>
      <br>
      <div class="row">
          <div class="col-md-4">
              <label class="switch">
                  <input type="checkbox" id="projectDateSelection" tabindex="0" name="checkBoxSelect" [(ngModel)]="checkBoxSelect">
                  <span class="slider round"></span>
              </label>
              <label for="projectDateSelection" class="col-form-label project-date-selection">Set Start and End Date</label>
          </div >
          <input [disabled] = "!checkBoxSelect" class="col-md-2"  type="text" onfocus="(this.type='date')" placeholder="Start Date" [(ngModel)]="project.startDate"   name="startDate" id="startDate" required>
           <div class="col-md-1"></div>
          <input [disabled] = "!checkBoxSelect" class="col-md-2" type="text" onfocus="(this.type='date')" placeholder="End Date" [(ngModel)]="project.endDate"   name="endDate" id="endDate" required>
      </div>
       
    <br>
    <div class="row">
        <label for="priority"  class="col-md-3" >Priority</label>
        <input class="col-md-2" type="range"  [(ngModel)]="project.priority" title="{{project.priority}}" name="priority" id="priority" required>{{project.priority}}
    </div>
    <br>
    <div class="row">
        <label for="Manager"  class="col-md-3" >Manager</label>
        <input class="col-md-4" type="text"  [(ngModel)]="project.managerName"  name="managerName" required minlength="4" >
        <input type="hidden" class="form-control" id="managerId" name="managerId" #managerId="ngModel" [(ngModel)]="project.employeeId">
        <!-- Trigger the modal with a button -->
        <div class="col-md-4">
                <button type="button" class="col-sm-4  btn btn-danger" style="border-radius: 45%;" (click)=getUserPopup()>Search</button>
        </div>
        <button type="button" id="userModalhide" class="btn btn-primary" style="display: none;" data-toggle="modal" data-target="#userModal"></button>
        
        <!-- Modal -->
        <div class="modal fade" id="userModal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Manager</h4>
              </div>
               <!-- Modal body -->
            <div class="modal-body" style="height:450px; overflow-y: scroll">
                    <div class="row list-group-item" *ngFor="let item of usersList">
                            
                            <div class="col-md-12" style="background-color: rgb(228, 224, 224);"  >
                                <br/><strong>
                                <span class="col-form-label"><button type="button" class="btn btn-primary" (click)=selectedUser(item)> Employee Id: {{item.employeeId}}</button></span><br/>
                                <span class="col-form-label">First Name: {{item.firstName}}</span><br/>
                                <span class="col-form-label">Last Name: {{item.lastName}}</span><br/><br/>
                              </strong>
                            </div>
                            
                        </div>  
                </div>
             
              <div class="modal-footer">
                <button id="modalClose" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div>
        </div>
    </div>  
    <br>
    <div class="row">
        <div class="col-md-5"></div>
      <div class="col-md-2">
      <button type="submit" class="btn btn-success" (click)="addProject()">Add</button>  
      </div>
      <div class="col-md-2">
      <button type="reset" id="reset" class="btn btn-primary">Reset</button>
    </div>
    </div>
      <br>
    </form>
    </div>
    </div>
  </div>
  </div>
  </div>
  <hr>
  <form #viewProjectForm="ngForm" novalidate >
    <div class="container">
      <div class="row">
        <div class="form-group row">
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" id="searchProject" name="searchProject" #searchProject="ngModel" [(ngModel)]="searchProjects" placeholder="Search Project">
            </div>
        </div> 
      </div>
      <div class="form-group row">
          <div class="col-md-2">
              <label class="col-form-label">Sort By:</label>
          </div>
          <div class="col-md-2">
              <button type="button" class="btn btn-secondary" (click)=sortByStartDate()>Start Date</button>
          </div>
          <div class="col-md-2">
              <button type="button" class="btn btn-secondary" (click)=sortByEndDate()>End Date</button>
          </div>
          <div class="col-md-2">
              <button type="button" class="btn btn-secondary" (click)=sortByPriority()>Priority</button>
          </div>
          <div class="col-md-2">
              <button type="button" class="btn btn-secondary" (click)=sortByStatus()>Completed</button>
          </div>
      </div>

      <div class="list-group">
        
      </div>  
      <div class="row">
            <div class="col-sm-1"></div>
        <div class="list-group col-md-8">
          
            <div class="row list-group-item" *ngFor="let item of projectsList | ProjectPipe : searchProjects">
                
                <div class="col-md-9" style="align-content:left;background-color: rgb(228, 224, 224);"  >
                    <br/><strong>
                            <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td>Project:       {{item.projectName}}</td>
                                        </tr>
                                        <tr>
                                            <td>No. of Tasks:</td>
                                            <td>{{item.noOfTask}}</td>
                                            <td>Status:</td>
                                            <td>{{item.status}}</td>
                                        </tr>
                                        <tr>
                                            <td>Start Date:</td>
                                            <td>{{item.startDate}}</td>
                                            <td>End Date:</td>
                                            <td>{{item.endDate}}</td>
                                        </tr>
                                        <tr>
                                            <td>Priority:</td>
                                            <td>{{item.priority}}</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                  </strong>
                </div>
                <div class="col-md-3">
                            <br/><br/>
                            <span><button type="button" class="btn btn-info" (click)=update(item)>Update</button></span><br/> <br/>
                            
                            <div *ngIf="item.status != 'Completed'">
                            <span><button type="button" class="btn btn-secondary" style="margin:top" (click)=suspend(item)>Suspend</button></span>
                            </div>
                </div>
            </div>
          </div>
        </div>
    </div>  
  </form>
  
  <button type="button" id="submitModalhide" class="btn btn-primary"  style="display: none;" data-toggle="modal" data-target="#submitModal"></button>
  <div class="modal fade" role="dialog" id="submitModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">{{modalHeading}}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            {{modalBody}}
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)=resetButton()>Back To Add Project</button>
          </div>
        </div>
      </div>
  </div>
