<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <nav class="navbar navbar-default">
     <div class="navbar-header">
         <h3>Project Manager</h3>
       </div>
 </nav>
<nav class="navbar navbar-default">
   <div class="container-fluid">
         <ul class="nav navbar-nav navbar-left">
            <li> <a routerLink="/addproject" routerLinkActive="active">Add Project</a>
             <li> <a routerLink="/addtask" routerLinkActive="active">Add Task</a>
              <li> <a routerLink="/adduser" routerLinkActive="active">Add User</a>
             <li> <a routerLink="/viewtask" routerLinkActive="active">View Task</a>

             </ul>
     </div>
 </nav>
 <router-outlet></router-outlet>
</div>


